@model IEnumerable<GroceriesShop.Models.AccountType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button onclick="handlerEdit()">Edit</button>
    <button onclick="handlerDetails()">Details</button>
    <button onclick="handlerDelete()">Delete</button>
    <button onclick="handlerCreate()">Create</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="selectRow(@item.TypeId)" id="@item.TypeId">
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        var selectedId;
        function selectRow(idObject) {
            if (selectedId) {
                document.getElementById(selectedId).className = "";
            }
            selectedId = idObject;
            document.getElementById(idObject).className = "active-row";
        }

        function handlerDetails() {
            if (selectedId) {
                window.location.href = "/AccountTypes/Details/" + selectedId;
            }
        }

        function handlerDelete() {
            if (selectedId) {
                window.location.href = "/AccountTypes/Delete/" + selectedId;
            }
        }

        function handlerEdit() {
            if (selectedId) {
                window.location.href = "/AccountTypes/Edit/" + selectedId;
            }
        }

        function handlerCreate() {
            window.location.href = "/AccountTypes/Create";
        }
    </script>
}