<!DOCTYPE html>
<html>
<head>
    <style>
        td {
            padding: 5px;
        }

        button {
            margin: 5px;
        }
    </style>
</head>
<body>
    <button onclick="handlerDetails()">Подробнее</button>
    <button onclick="handlerDelete()">Удалить</button>
    <button onclick="handlerCreate()">Создать</button>
    <table>
        <thead>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Фамилия
                </th>
                <th>
                    Возраст
                </th>
                <th>
                    Электронная почта
                </th>
                <th>
                    Телефон
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        var addressApi = "/api/Accounts/";
        var selectedId;

        function handlerDetails() {
            if (selectedId) {
                window.location.href = `/Accounts/Edit/${selectedId}`;
            }
        }

        function handlerCreate() {
            window.location.href = `/Accounts/Create`;
        }
        
        async function getAll() {
            const response = await fetch(addressApi, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const elements = await response.json();
                const rows = document.querySelector("tbody");
                elements.forEach(element => rows.append(row(element)));
            }
        }

        function handlerDelete() {
            if (selectedId) {
                deleteOne(selectedId);
            }
        }

        async function deleteOne(id) {
            const response = await fetch(`${addressApi}delete/${id}`, {
                method: "DELETE",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                document.querySelector(`tr[data-rowid='${id}']`).remove();
                selectedId = null;
            }
            else {
                const error = await response.json();
                console.log(error.message);
            }
        }

        function selectRow(id) {
            if (selectedId) {
                document.querySelector(`tr[data-rowid='${selectedId}']`).className = "";
            }
            selectedId = id;
            document.querySelector(`tr[data-rowid='${id}']`).className = "selected-user";
        }

        function row(itemRow) {
            console.log(itemRow)
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", itemRow.id);
            tr.addEventListener("click", async () => await selectRow(itemRow.id));

            const nameTd = document.createElement("td");
            nameTd.append(itemRow.name);
            tr.append(nameTd);

            const lastNameTd = document.createElement("td");
            lastNameTd.append(itemRow.lastName);
            tr.append(lastNameTd);

            const ageTd = document.createElement("td");
            ageTd.append(itemRow.age);
            tr.append(ageTd);

            const emailTd = document.createElement("td");
            emailTd.append(itemRow.email);
            tr.append(emailTd);

            const phoneTd = document.createElement("td");
            phoneTd.append(itemRow.phoneNumber);
            tr.append(phoneTd);

            return tr;
        }

        getAll();
    </script>
</body>
</html>