@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Продуктовый магазин</h1>
    <p> Самая свежая еда </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T_eyQvtE-p4?si=VOOjAdRaof0MV_JD&amp;start=43" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
