@model IEnumerable<GroceriesShop.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Категории товаров</h1>

<p>
    <button onclick="handlerEdit()">Изменить</button>
    <button onclick="handlerDetails()">Подробнее</button>
    <button onclick="handlerDelete()">Удалить</button>
    <button onclick="handlerCreate()">Создать</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr onclick="selectRow(@item.Id)" id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        var selectedId;
        function selectRow(idObject) {
            if (selectedId) {
                document.getElementById(selectedId).className = "";
            }
            selectedId = idObject;
            document.getElementById(idObject).className = "active-row";
        }

        function handlerDetails() {
            if (selectedId) {
                window.location.href = "/Categories/Details/" + selectedId;
            }
        }

        function handlerDelete() {
            if (selectedId) {
                window.location.href = "/Categories/Delete/" + selectedId;
            }
        }

        function handlerEdit() {
            if (selectedId) {
                window.location.href = "/Categories/Edit/" + selectedId;
            }
        }

        function handlerCreate() {
            window.location.href = "/Categories/Create";
        }
    </script>
}